@charset "utf-8";


* {
  font-family: Tahoma, sans-serif;
}


body {
  background-color: #505060;
}


canvas {
  padding: 0;
  margin: 0;
  width: 800px;
  height: 800px;
}


.main {
  width: 800px;
  height: 800px;
  padding: 0;
  margin: 16px auto;
  display: block;
}


#stats {
  position: absolute;
  top: 0;
  left: 0;
}